body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh; /* Добавлено для обеспечения высоты тела страницы */
    display: flex;
    flex-direction: column;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo-img {
    width: 100px;
}

.main-container {
    flex: 1; /* Занимает оставшееся пространство */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.video-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Небольшой отступ между видео и формой */
}

.main-video {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.form-container {
    background-color: #333;
    padding: 70px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    margin-right: 550px;
    margin-left: -550px;
}

.form-container h2 {
    margin-bottom: 20px;
}

.btn-block {
    margin-top: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

#back-button {
    display: none;
    margin-top: 10px;
}
